<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplicationsienke">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MobileSecurityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //移动查询
        <activity android:name=".activity.QueryActivity"/>
        <activity android:name=".activity.CostListviewActivity"/>
        <activity android:name=".activity.CostDetailActivity"/>
        <activity android:name=".activity.BusinessManageActivity"/>
        <activity android:name=".activity.BusinessManageLoginActivity"/>
        <activity android:name=".activity.BusinessCheckActivity"/>
        <activity android:name=".activity.MoreSettingsActivity"/>

        //安检
        <activity android:name=".activity.SecurityChooseActivity"/>
        <activity android:name=".activity.CheckUserListActivity"/>
        <activity android:name=".activity.NewTaskActivity"/>
        <activity android:name=".activity.NoCheckUserListActivity"/>
        <activity android:name=".activity.TaskChooseActivity"/>
        <activity android:name=".activity.SecurityStatisticsActivity"/>
        <activity android:name=".activity.UserDetailInfoActivity"/>

    </application>

</manifest>